<%= link_to('Edit you information',  admin_edit_me_url, remote: true) %>
<br/>
Email: <span class='small'><%= @admin.email %></span>
<br/>
First name: <span class='small'><%= @admin.first_name %></span>
<br/>
Last name: <span class='small'><%= @admin.last_name %></span>
<br/>
Information: <span class='small'><%= @admin.information %></span>