<%= render partial: "admin/partial/errors" %>

<%= form_for @user, url: admin_administrator_url, remote: true do |f| %>

  <p>

    <%= f.label :email %><br />
    <%= f.text_field :email  %>
    </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
    </p>

  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
    </p>

  <p>
    <%= f.label :information %><br />
    <%= f.text_area :information, size: "30x3" %></p>


   <%= f.submit class:"btn btn-primary" %>

   <%= link_to "Cancel", admin_url, remote: true, class:"btn btn-primary" %>

<% end %>