

<h2> Edit user </h2>

<%= render partial: "admin/partial/errors" %>

<%= form_for @user, url: admin_administrator_url, remote: true do |f| %>

  <p>

    <%= f.text_field :email,class: "input-block-level", placeholder:"Email"  %>
    </p>
  <p>
    <%= f.text_field :first_name,class: "input-block-level", placeholder:"First name" %>
    </p>

  <p>
    <%= f.text_field :last_name,class: "input-block-level", placeholder:"Last name" %>
    </p>

  <p>
    <%= f.text_area :information,class: "input-block-level", placeholder:"Other information",  rows:'3' %></p>


   <%= f.submit class:"btn btn-primary" %>

   <%= link_to "Cancel", admin_url, remote: true, class:"btn btn-primary" %>

<% end %>
