<div class="btn-group">
  <a class="btn btn-inverse" data-toggle="dropdown" href="#">
    Sort items, up and down
    <span class="caret"></span>
  </a>

<ul class="dropdown-menu">
<li class='title'>

<%= link_to 'Email', admin_administrator_url('email,ASC'), id:'email_title',title:'up',remote: true %>
</li>

<li class='title'>

<%= link_to 'Last name', admin_administrator_url('last_name,ASC'), id:'last_name_title', title:'up', remote: true %>

</li>
<li class='title'>

<%= link_to 'First name', admin_administrator_url('first_name,ASC'), id:'first_name_title',title:'up', remote: true %>

</li>
<li class='title'>
<%= link_to 'Position', admin_administrator_url('position,ASC'), id:'position_title',title:'up', remote: true %>
</li>
</ul>
</div>

<ul id="sortable" >

<%= render partial: "admin/partial/sort" %>

</ul>
<br>
<div id='sort_view'>Select element for move</div>

