
<div class="panel panel-default">
  	<div class="panel-heading">Users</div>
		<table class="table table-striped">
<tr>
<td class='title'>

<%= link_to 'Email', admin_administrator_url('email,ASC'), id:'email_title',title:'up',remote: true %>
</td>

<td class='title'>

<%= link_to 'Last name', admin_administrator_url('last_name,ASC'), id:'last_name_title', title:'up', remote: true %>

</td>
<td class='title'>

<%= link_to 'First name', admin_administrator_url('first_name,ASC'), id:'first_name_title',title:'up', remote: true %>

</td>
<td class='title'>
Delete
</td>
</tr>
<tr>
<td colspan='4'>


<ul id="sortable" >

<% @users.each do |key| %>

<li class="ui-state-default">


<span class='name'>
 <%= link_to(key[:email], edit_admin_administrator_url(key[:id]), remote: true) %>
</span>

<span class='name'>
<%= key[:last_name] %>
</span>

<span class='name'>
<%= key[:first_name] %>
</span>

<span class='name'>
<%= link_to('X', admin_administrator_url(key[:id]), method: :delete, remote: true) %>
</span>



<% end %>
<br>
<%= ajax_will_paginate @users %>

</ul>

</td>
</tr>
</table>
</div>
