<% if @users.empty? %>
<div id='sort_view'>bd Users empty</div>
<% else %>

<h2> Users </h2>

<div class="btn-group">
  <a class="btn btn-inverse" data-toggle="dropdown" href="#">
    Sort items, up and down
    <span class="caret"></span>
  </a>

<ul class="dropdown-menu">
<li class='title'>

<%= link_to 'Email', admin_administrator_url('email,ASC'), id:'email_title',title:'up',remote: true %>
</li>

<li class='title'>

<%= link_to 'Last name', admin_administrator_url('last_name,ASC'), id:'last_name_title', title:'up', remote: true %>

</li>
<li class='title'>

<%= link_to 'First name', admin_administrator_url('first_name,ASC'), id:'first_name_title',title:'up', remote: true %>

</li>
<li class='title'>
<%= link_to 'Position', admin_administrator_url('position,ASC'), id:'position_title',title:'up', remote: true %>
</li>
</ul>
</div>


<ul class='header_ul'>
<li>

<span class='name'>
Email
</span>

<span class='name'>
Last name
</span>

<span class='name'>
First name
</span>

<span class='name'>
Position
</span>

</li>
</ul>



<ul id="sortable" >

<%= render partial: "admin/partial/sort" %>

</ul>


<div id='sort_view'>Select element for move</div>
<% end %>
<br/>
<div id='edit_me'>
<%= render partial: "admin/partial/edit_admin" %>
</div>
<br/>


