
<div class="panel panel-default">
  	<div class="panel-heading">Users</div>
		<table class="table table-striped">
<tr>
<td class='title'>

<%= link_to 'Email', admin_administrator_url('email,ASC'), id:'email_title',title:'up',remote: true %>
</td>

<td class='title'>

<%= link_to 'Last name', admin_administrator_url('last_name,ASC'), id:'last_name_title', title:'up', remote: true %>

</td>
<td class='title'>

<%= link_to 'First name', admin_administrator_url('first_name,ASC'), id:'first_name_title',title:'up', remote: true %>

</td>
<td class='title'>
<%= link_to 'Position', admin_administrator_url('position,ASC'), id:'position_title',title:'up', remote: true %>
</td>
</tr>
<tr>
<td colspan='4'>


<ul id="sortable" >

<%= render partial: "admin/partial/sort" %>

</ul>
<br>
<div id='sort_view'></div>

</td>
</tr>
</table>
</div>
