<%= form_for @user, :html => {:multipart => true}  do |f| %>

  <p>
    <%= f.text_field :email, id: 'email_form', class: "input-block-level", placeholder:"Email" %>
    <span id='email_form_rezult'></span>
    </p>
  <p>
    <%= f.password_field :password, id: 'password_form', class: "input-block-level", placeholder:"Password" %>
    <span id='password_form_rezult'></span>
    </p>
  <p>
    <%= f.password_field :password_confirmation, id: 'password_confirmation_form', class: "input-block-level", placeholder:"Password confirmation" %>
    <span id='password_confirmation_form_rezult'></span>
    </p>

    <p>
    <%= f.text_field :secret, id: 'secret', class: "input-block-level", placeholder:"Your secret word" %>
    <span id='secret_rezult'></span>
    </p>

  <p>
    <%= f.text_field :first_name, id: 'first_name_form', class: "input-block-level", placeholder:"First name" %>
    <span id='first_name_form_rezult'></span>
    </p>

  <p>
    <%= f.text_field :last_name, id: 'last_name_form', class: "input-block-level", placeholder:"Last name" %>
    <span id='last_name_form_rezult'></span>
    </p>

  <p><%= f.text_area :information, id: 'area_form', placeholder:"Other information", rows:'3' %></p>

     <div class="fileupload fileupload-new" data-provides="fileupload">
    <span class="btn btn-primary btn-file"><span class="fileupload-new">Select file avatar</span>
    <span class="fileupload-exists">Change</span>  <input name="user[image]" type="file"  accept="image/jpeg,image/png,image/gif" />  </span>
    <span class="fileupload-preview"></span>
    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
    </div>

   <%= f.submit class:"btn btn-primary" %>

   <%= link_to "Cancel", root_url, class:"btn btn-primary" %>

<% end %>