<%= form_for @user, url: superadmin_sadmin_url  do |f| %>

  <p>

    <%= f.text_field :email, class: "input-block-level", placeholder:"Email"  %>
    </p>
  <p>
    <%= f.text_field :first_name, class: "input-block-level", placeholder:"First name" %>
    </p>

  <p>

    <%= f.text_field :last_name, class: "input-block-level", placeholder:"Last name" %>
    </p>

  <p>

    <%= f.text_area :information, size: "30x3", class: "input-block-level", placeholder:"Information" %></p>


   <%= f.submit class:"btn btn-primary" %>

   <%= link_to "Cancel", superadmin_sadmin_index_url, class:"btn btn-primary" %>

<% end %>