<%= form_tag recover_password_index_url do %>

  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag "user[email]" %>
    </p>
  <p>
    <%= label_tag :first_name %><br />
    <%= text_field_tag "user[first_name]" %>
    </p>

  <p>
    <%= label_tag :last_name %><br />
    <%= text_field_tag "user[last_name]" %>
    </p>

  <p>
    <%= label_tag :secret_word %><br />
    <%= text_field_tag "user[secret]" %>
   </p>

     <p>
    <%= label_tag 'new password' %><br />
    <%= text_field_tag "user[password]" %>
   </p>

     <p>
    <%= label_tag 'new password confirmation' %><br />
    <%= text_field_tag "user[password_confirmation]" %>
   </p>


   <%= submit_tag 'recover password', class:"btn btn-primary" %>

   <%= link_to "Cancel", new_session_url, class:"btn btn-primary" %>

<% end %>