

<h2>Log in for admin</h2>

<div class="error_messages">
  <br/>
<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %>
</div>

<%= form_tag admin_sessions_path do %>
  <p>
    <%= text_field_tag :email,'',class: "input-block-level", placeholder:"Email" %>
  </p>
  <p>
    <%= password_field_tag :password,'',class: "input-block-level", placeholder:"Password" %>
  </p>
  <%= submit_tag 'Save changes', class:"btn btn-primary" %> 
  <%= link_to "Cancel", root_url, class:"btn btn-primary" %>
<% end %>



