

<h1>Log in</h1>

<% if flash[:alert] %>
<div class='error_messages'><br/><%= flash[:alert] %></div>
<% else %>
<div class='not_messages'><br/><%= flash[:good] %></div>
<% end %>

<%= form_tag sessions_path do %>
  <p>
    <%= text_field_tag 'user[email]', '',class:"input-block-level", placeholder:"Email address" %>
  </p>
  <p>
    <%= password_field_tag 'user[password]','',class:"input-block-level", placeholder:"Password" %>
  </p>
  <%= submit_tag 'Save changes', class:"btn btn-primary" %> 
  <%= link_to "Cancel", root_url, class:"btn btn-primary" %>
    <br/>
  <br/>
  <%= link_to "forgot your password?", new_recover_password_url %>
<% end %>


