<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>
<%= link_to("Log out", session_url(session[:user_id]), method: :delete) %>
<br/><br/>
<%#= link_to "Edit personal information", edit_user_url(session[:user_id]) %>

<div id='open_modal' class="btn btn-primary">Edit personal information
</div>


<div class="panel panel-default" id="user_ajax_result">
  <div class="panel-heading">User</div>
<ul class="list-group">
  <li class="list-group-item"><span>email:</span><%= @user[:email] %></li>
  <li class="list-group-item"><span>first name:</span><%= @user[:first_name] %></li>
  <li class="list-group-item"><span>last name:</span><%= @user[:last_name] %></li>
  <li class="list-group-item"><span>information:</span><%= @user[:information] %></li>
</ul>
</div>



<%= render partial: "public/partial/form_user_ajax" %>


  <% else %>
     <%= link_to "Sign Up", new_user_url %> or
   <%= link_to "Log in", new_session_url %>
  <% end %>
</div>

<% if @profile and !@profile.avatar.to_s.empty? %>
<%=  image_tag @profile.avatar.url %>
<br>
<%=  image_tag @profile.avatar.thumb.url %>
<% end %>
<!-------------------------->

